<header class="header_resp">
    <app-logo></app-logo>
    <button class="burger" aria-label="Menu" style="padding: 8px">
        <app-img-burger-menu [size]="32"/>
    </button>
</header>
<section>
    <div class="content">
        <div class="photo_content">
            <app-img-ellips1 [size]="ellips1Size" [color]="colorPalette.primaryColor"/>
        </div>
        <div class="introduction_content">
            <div class="logo_social_media_wrapper">
                <ul class="social_media_links">
                    <li>
                        <app-icon-email [size]="30" [color]="colorPalette.primaryColor"/>
                    </li>
                    <li>
                        <app-icon-github [size]="30" [color]="colorPalette.primaryColor"/>
                    </li>
                    <li>
                        <app-icon-linkedin [size]="30" [color]="colorPalette.primaryColor"/>
                    </li>
                </ul>
                <app-logo></app-logo>
            </div>

            <div class="title_wrapper">
                <h1>Claudia Fohrer</h1>
                <span>FRONTEND DEVELOPER</span>                
            </div>

            <button class="secondary button_transposed">
                <app-img-arrow [height]="50" [width]="22" [color]="colorPalette.primaryColor"/>
            </button>
        </div>
    </div>    
</section>
<app-navigation-bar class="navigation_bar"></app-navigation-bar>
