<header class="header_resp">
    <app-logo [lan]="language" [color]="colorPalette.primaryColor"></app-logo>
    <button class="burger" aria-label="Menu" style="padding: 8px" (click)="toggleMenu()">
        <app-img-burger-menu [isOpen]="!isMenuHiding" [size]="32"/>
    </button>
</header>
<section>
    <div class="content">
        <div class="content_wrapper">
            <div [ngClass]="isMenuHiding ? '' : 'menu_hide'" class="photo_content" (mouseover)="hoverPic=true" (mouseleave)="hoverPic=false">
                @if (hoverPic){
                    <app-img-ellipse1-hover [height]="ellipse1Height" [width]="ellipse1Width" [color]="colorPalette.ellipse1Color"/>
                }
                @else {
                    <app-img-ellipse1 [height]="ellipse1Height" [width]="ellipse1Width" [color]="colorPalette.primaryColor"/>
                }
                <img class="my_pic" src="/assets/img/my-pictures/picture_1_1.png" alt="">
            </div>   
            <div [ngClass]="isMenuHiding ? 'menu_hide' : ''" class="menu_resp_wrapper">
                <ul class="menu_content">
                    <li>
                        <a href="#why-me-section-id" (click)="toggleMenu()">
                            {{language === 'en' ? translation['sections']['why-me'].en : translation['sections']['why-me'].de}}                 
                        </a>

                    </li>
                    <li>
                        <a href="#my-skills-section-id" (click)="toggleMenu()">
                            {{language === 'en' ? translation['sections']['skills'].en : translation['sections']['skills'].de}}
                        </a>

                    </li>
                    <li>
                        <a href="#my-projects-section-id" (click)="toggleMenu()">
                            {{language === 'en' ? translation['sections']['projects'].en : translation['sections']['projects'].de}}
                        </a>
                    </li>
                    <li>
                        <a href="#contact-me-section-id" (click)="toggleMenu()">
                            {{language === 'en' ? translation['sections']['contact'].en : translation['sections']['contact'].de}}
                        </a>
                    </li>
                    <li>
                        <app-language-selection></app-language-selection>
                    </li>
                </ul>
                <app-img-ellipse8 class="background_img" [height]="ellipse2Height" [width]="ellipse2Width" [color]="colorPalette.primaryColor"></app-img-ellipse8>            
            </div>
        </div>
        <div class="introduction_content">
            <div class="logo_social_media_wrapper">
                <div class="placeholder"></div>
                <app-logo [lan]="language" [color]="colorPalette.primaryColor" [animation]="true"></app-logo>
                <ul class="social_media_right">
                    <li>
                        <a class="clean" href="https://github.com/Saki63" target="_blank">
                            <app-icon-github [size]="30" [color]="colorPalette.primaryColor" [hoverColor]="colorPalette.primaryColor"/>
                        </a>
                    </li>
                    <li class="space">
                        <a class="clean" href="mailto:an-san@gmx.de" target="_blank">
                            <app-icon-email [size]="30" [color]="colorPalette.primaryColor" [hoverColor]="colorPalette.primaryColor"/>
                        </a>
                    </li>
                    <li>
                        <div class="placeholder_icon"></div>
                    </li>
                </ul>
            </div>
            <div class="title_wrapper">
                <h1>Anne Sanewski</h1>
                <span>{{language === 'en' ? translation['long-title'].en : translation['long-title'].de}}</span>                
            </div>
            <a class="hide button secondary button_transposed" href="#why-me-section-id">
                <app-img-arrow [height]="50" [width]="22" [color]="colorPalette.primaryColor"/>
            </a> 
        </div>
    </div>
    <a class="resp_button button secondary button_transposed" href="#why-me-section-id">
        <app-img-arrow [height]="50" [width]="22" [color]="colorPalette.primaryColor"/>
    </a> 
</section>
