<header class="header_resp">
    <app-logo [lan]="language" [color]="colorPalette.primaryColor"></app-logo>
    <button class="burger" aria-label="Menu" style="padding: 8px">
        <app-img-burger-menu [size]="32"/>
    </button>
</header>
<section>
    <div class="content">
        <div class="photo_content" (mouseover)="hoverPic=true" (mouseleave)="hoverPic=false">
            @if (hoverPic){
                <app-img-ellipse1-hover [height]="ellipse1Height" [width]="ellipse1Width" [color]="colorPalette.ellipse1Color"/>
            }
            @else {
                <app-img-ellipse1 [height]="ellipse1Height" [width]="ellipse1Width" [color]="colorPalette.primaryColor"/>
            }
            <img class="my_pic" src="/assets/img/my-pictures/picture_1.png" alt="">
        </div>
        <div class="introduction_content">
            <div class="logo_social_media_wrapper">
                <div class="placeholder"></div>
                <app-logo [lan]="language" [color]="colorPalette.primaryColor" [animation]="true"></app-logo>
                <ul class="social_media_right">
                    <li>
                        <a class="clean" href="https://github.com/Saki63" target="_blank">
                            <app-icon-github [size]="30" [color]="colorPalette.primaryColor" [hoverColor]="colorPalette.primaryColor"/>
                        </a>
                    </li>
                    <li class="space">
                        <a class="clean" href="mailto:an-san@gmx.de" target="_blank">
                            <app-icon-email [size]="30" [color]="colorPalette.primaryColor" [hoverColor]="colorPalette.primaryColor"/>
                        </a>
                    </li>
                    <li>
                        <div class="placeholder_icon"></div>
                        <!-- <a class="clean" href="#" target="_blank">
                            <app-icon-linkedin [size]="30" [color]="colorPalette.primaryColor" [hoverColor]="colorPalette.primaryColor"/>
                        </a> -->
                    </li>
                </ul>
            </div>

            <div class="title_wrapper">
                <h1>Anne Sanewski</h1>
                <span>{{language === 'en' ? translation['long-title'].en : translation['long-title'].de}}</span>                
            </div>
            
            <a class="button secondary button_transposed" href="#why-me-section-id">
                <app-img-arrow class="pointer" [height]="50" [width]="22" [color]="colorPalette.primaryColor"/>
            </a>


        </div>
    </div>    
</section>
