@import '../shared/scss/fonts.scss';
@import '../../styles.scss';

:host {
  display: block;
  height: calc(100vh - 104px); /* oder z. B. 80vh */
}

.header_resp{
    display: none;
}

section{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    @include flex-box($fd: column, $ai: center);
    background-color: $primary-dark-color;
}

.content{
    @include flex-box($g: 16px);
    max-width: $content-limit;
    padding: 16px;
}

.photo_content{
    @include flex-box();
    position: relative;

    .my_pic{
        height: 680px;
        margin-right: 26px;
        position: absolute;
    }
}

.introduction_content{
    flex: 1;
    @include flex-box($fd: column, $g: 24px);

    .logo_social_media_wrapper{
        @include flex-box($jc: space-between, $ai: end);
        width: 100%;

        .placeholder{
            width: 30px;
        }

        .social_media_links{
            list-style-type: none;
            padding: 0;
            right: 0;
            bottom: 0;

            li{
                margin: 10px 0;
                position: relative;
            }
        }
    }

    .title_wrapper{
        text-align: center;
        margin-bottom: 80px;

        h1{
            font-family: 'Anta';
            font-size: 88px;
            font-weight: 400;
            color: $secondary-color;
            margin-bottom: 20px;
        }

        span{
            font-family: 'Josefin_Sans_Regular';
            font-size: 40px;
            color: $secondary-color;
        }
    }

    .button_wrapper{
        flex: 1;
        margin-bottom: 80px;
    }
}


@media (max-width: 1000px){

    .photo_content{
        .my_pic{
            height: 534px;
        }
    }

    .introduction_content{
        .title_wrapper{
            h1{
                font-size: 60px;
            }

            span{
                font-size: 26px;
            }
        }
    }
}

@media (max-width: 850px){
    :host{
        height: fit-content;
    }

    section{
        height: fit-content;
    }

    .header_resp{
        display: flex;
        padding: 24px;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        max-width: 100%;
    }

    .photo_content{
        margin-top: 94px;
    }

    .content{
        flex-direction: column;
        height: fit-content;
    }

    .introduction_content {
        align-items: space-around;
        .logo_social_media_wrapper{
            display: none;
        }        

        .title_wrapper{
            margin-bottom: 0;
        }

        .button_wrapper{
            margin-bottom: 16px;
        }
    }

    .burger {
        background: none;
        border: none;
    }
}



@media (max-width: 480px){

    .photo_content{
        .my_pic{
            height: 330px;
        }
    }

    .content{
        padding: 0px;
    }
}

// @media ((max-height: 700px) and (max-width: 480px)){
//     section{
//         justify-content: start;
//         height: 100%;
//         min-height: 100vh;
//     }
// }

// @media ((max-height: 920px) and (min-width: 480px) and (max-width: 850px)){
//     section{
//         justify-content: start;
//         height: 100%;
//         min-height: 100vh;
//     }
// }

// @media ((max-height: 740px) and (min-width: 850px) and (max-width: 1000px)){
//     section{
//         justify-content: start;
//         height: 100%;
//         min-height: 100vh;
//     }
// }

@media ((max-height: 710px) and (min-width: 850px)){
    :host {
        height: calc(860px - 104px); /* oder z. B. 80vh */
    }

    section{
        height: calc(860px - 104px);
    }

    .introduction_content {
        .title_wrapper{
            margin-bottom: 0px;
        }
    }
}

@media ((max-height: 790px) and (min-width: 850px)){
    .introduction_content {
        .title_wrapper{
            margin-bottom: 0px;
        }
    }
}

// @media ((max-height: 890px) and (min-width: 1000px)){
//     section{
//         justify-content: start;
//         height: 100%;
//         min-height: 100vh;
//     }
// }
