<section>
    <h3>Need a teamplayer? Here what my colleagues said about me</h3>
    <div class="bubble_wrapper">
        <app-bubble 
            [name]="'Sahra Mueller'"
            [project]="'DA Bubble'"
            [quote]="'Claudia had to develop, format and deliver content in collaboration with the team members. She is a reliable and friendly person.'"
            [link]="'#'"
            ></app-bubble>
        <app-bubble
            [name]="'Sahra Mueller'"
            [project]="'DA Bubble'"
            [quote]="'Claudia had to develop, format and deliver content in collaboration with the team members. She is a reliable and friendly person.'"
            [link]="'#'"
        ></app-bubble>
        <app-bubble
            [name]="'Sahra Mueller'"
            [project]="'DA Bubble'"
            [quote]="'Claudia had to develop, format and deliver content in collaboration with the team members. She is a reliable and friendly person.'"
            [link]="'#'"
        ></app-bubble>
    </div>
</section>
