<section>
    <h3 class="title">Need a teamplayer? Here what my colleagues said about me</h3>
    <div class="resp_title">
        <h3>Need a teamplayer?</h3>
        <p>Here what my colleagues said about me</p>
    </div>
    <div class="bubble_wrapper">
        <app-bubble 
            [name]="'Sahra Mueller'"
            [project]="'DA Bubble'"
            [quote]="'Claudia had to develop content in collaboration with the team members.'"
            [link]="'#'"
            ></app-bubble>
        <app-bubble
            [name]="'Sahra Mueller'"
            [project]="'DA Bubble'"
            [quote]="'Claudia had to develop, format and deliver content in collaboration with the team members. She is a reliable and friendly person. I would hire her!'"
            [link]="'#'"
        ></app-bubble>
        <app-bubble
            [name]="'Sahra Mueller'"
            [project]="'DA Bubble'"
            [quote]="'Claudia had to develop, format and deliver content in collaboration with the team members. She is a reliable and friendly person.'"
            [link]="'#'"
        ></app-bubble>
    </div>
</section>
