@import '../shared/scss/fonts.scss';
@import '../../styles.scss';

section {
    width: 100%;
    max-width: 100vw;
    background-color: $primary-dark-color;
    @include flex-box($fd: column, $g: 56px);
    padding: 30px 0px;
    color: $secondary-color;
    font-family: 'Josefin_Sans_Regular';
}

.scroll_wrapper{
    @include flex-box($jc: start, $g: 30px);
    height: 400px;
    max-width: 100vw;
    position: relative;
    width: 100%;
    padding: 0 16px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.scroll_info_box{
    background-color: $primary-color;
    z-index: 1;
    padding: 0px 22px;
    border-radius: 50%;
    position: absolute;
    right: 10px;

    cursor: pointer;
    
    *{
        cursor: pointer;
        color: $secondary-color;
    }
}

.scroll_info_right {
    transform: rotate(-90deg);
}

.bubble_wrapper{
    @include flex-box($jc: start, $g: 30px);
    height: 400px;
    max-width: 100vw;
    width: 100%;
    padding: 0 16px;
    overflow-x: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}

.title{
    @include font($family: 'Josefin_Sans_Regular', $size: 32px, $color: $primary-color);
    text-align: center;
}

.resp_title{
    display: none;
}

@media (min-width: 1300px){

    .bubble_wrapper{
        justify-content: center;
    }

}

@media (max-width: 480px){

    section {
        gap: 30px;
    }

    .bubble_wrapper{
        height: 300px;
    }

    .title{
        display: none;
    }

    .resp_title{
        display: block;
        width: 100%;
        padding: 0 16px;

        h3{
            @include font($family: 'Anta', $size: 32px, $color: $primary-color);
        }
        p{
            @include font($family: 'Josefin_Sans_Regular', $size: 18px, $color: $secondary-color); 
        }
    }

}