@import '../../shared/scss/fonts.scss';
@import '../../../styles.scss';

.bubble{
    width: 400px;
    height: 400px;
    position: relative;
    @include flex-box($ai:start);
    padding-top: 54px;
    
    .default_background{
        position: absolute;
        top: 0;
        left: 0;
    }

    .resp_background{
        display: none !important;
    }
}

.content {
    @include flex-box($fd: column, $g: 20px);
    max-width: 300px;
    z-index: 1;

    .header{
        @include flex-box($fd: column);
        h4{
            @include font($family: 'Josefin_Sans_SemiBold', $size: 26px, $color: $secondary-color);
        }

        p{
            @include font($family: 'Josefin_Sans_Regular', $size: 18px, $color: $secondary-color);
            text-align: center;
        }

        .primary{
            color: $primary-color;
        }
    }

    p{
        @include font($family: 'Josefin_Sans_Regular', $size: 18px, $color: $secondary-color);
        text-align: center;
    }

    .scroll_wrapper{
        @include flex-box($fd: column);
        height: 124px;
    }



    .quote{
        max-height: 124px;
        overflow: scroll;
    }

    a{
        @include font($family: 'Josefin_Sans_Regular', $size: 16px, $color: $primary-color);
        text-align: center;
        text-decoration: underline;

        margin-top: 20px;

        &:hover{
            cursor: pointer;
        }

        &:active{
            color: $secondary-color;
        }
    }
}

.hide{
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 480px){
    .bubble{     
        width: 290px;
        height: 290px;
        padding-top: 42px;

        .default_background{
            display: none !important;
        }

        .resp_background{
            display: inline !important;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .content {
        align-items: start;
        gap: 8px;
        max-width: 216px;
        margin-left: 18px;

        .header{
            h4{
                font-size: 24px;
                text-align: start;
            }

            p{
                text-align: start;
            }
        }

        p{
            font-size: 16px;
            text-align: start;
        }


        .scroll_wrapper{
            @include flex-box($fd: column);
            height: 113px;
        }

        .quote{
            max-height: 113px;
        }

        a{
            text-align: start;
            margin-top: 4px;
        }
    }
}
