@import '../../shared/scss/fonts.scss';
@import '../../../styles.scss';

@mixin font($family: 'Josefin_Sans', $size: 26px, $color: $background){
    font-family: $family;
    font-size: $size;
    color: $color;
}

nav{
    width: 100%;
    background-color: $primary-color; 
    position: absolute;
    bottom: 0;
    height: 104px;
    @include flex-box($jc: center);

    ul{
        list-style-type: none;
        @include flex-box($jc: space-between, $g: 24px);
        @include font();
        flex: 1;
        max-width: 680px;
        padding: 0 64px;

        li{
            position: relative;

            &:hover *{
                cursor: pointer;
                color: $secondary-color;
            }

            .ellipse{
                position: absolute;
                top: 50%;
                left: 50%;

                opacity: 0;
                transform: translate(-50%, -50%);
            }

            &:hover .ellipse{
                opacity: 1;
            }
        }

    }
}

.content_limit{
    max-width: $content-limit;
    padding: 0 24px;
}

.navigation_wrapper{
    @include flex-box($jc: space-between, $g: 24px);
    width: 100%;
}

.language_selection{
    @include font($size: 18px);
    @include flex-box($g: 24px);

    button{
        background-color: transparent;
        border: none;
        padding: 0;
        position: relative;

        &:hover *{
            cursor: pointer;
            color: $secondary_color;
        }

        .language_ellipse{
            position: absolute;
            top: 50%;
            left: 50%;

            opacity: 0;
            transform: translate(-50%, -50%);
        }

        &:hover .language_ellipse{
            opacity: 1;
        }

    }
}
