<nav>
    <div class="navigation_wrapper">
        <app-logo [color]="colorPalette.primaryDarkColor"></app-logo>
        <ul>
            <li>
                <app-img-ellipse3 class="ellipse" [color]="'#262E34'" [width]="85" [height]="56"/>
                <span>Why me</span>
            </li>
            <li>
                <app-img-ellipse3 class="ellipse" [color]="'#262E34'" [width]="85" [height]="56"/>
                <span>Skills</span>
            </li>
            <li>
                <app-img-ellipse3 class="ellipse" [color]="'#262E34'" [width]="85" [height]="56"/>
                <span>Projects</span>
            </li>
            <li>
                <app-img-ellipse3 class="ellipse" [color]="'#262E34'" [width]="85" [height]="56"/>
                <span>Contact</span>
            </li>
        </ul>
        <div class="language_selection">
            <button>
                <app-img-ellipse4 class="language_ellipse" [color]="'#262E34'" [width]="37" [height]="24"/>
                <span>DE</span>
            </button>
            <button>
                <app-img-ellipse4 class="language_ellipse" [color]="'#262E34'" [width]="37" [height]="24"/>
                <span>EN</span>
            </button>
        </div>        
    </div>

</nav>