<nav>
    <div class="navigation_wrapper">
        <app-logo [lan]="language" [color]="colorPalette.primaryDarkColor"></app-logo>
        <ul>
            <li>
                <a href="#why-me-section-id">
                    <app-img-ellipse3 class="ellipse" [color]="'#262E34'" [width]="85" [height]="56"/>
                    <span>{{language === 'en' ? translation['sections']['why-me'].en : translation['sections']['why-me'].de}}</span>                    
                </a>

            </li>
            <li>
                <a href="#my-skills-section-id">
                    <app-img-ellipse3 class="ellipse" [color]="'#262E34'" [width]="85" [height]="56"/>
                    <span>{{language === 'en' ? translation['sections']['skills'].en : translation['sections']['skills'].de}}</span>
                </a>

            </li>
            <li>
                <a href="#my-projects-section-id">
                    <app-img-ellipse3 class="ellipse" [color]="'#262E34'" [width]="85" [height]="56"/>
                    <span>{{language === 'en' ? translation['sections']['projects'].en : translation['sections']['projects'].de}}</span>
                </a>
            </li>
            <li>
                <a href="#contact-me-section-id">
                    <app-img-ellipse3 class="ellipse" [color]="'#262E34'" [width]="85" [height]="56"/>
                    <span>{{language === 'en' ? translation['sections']['contact'].en : translation['sections']['contact'].de}}</span>
                </a>
            </li>
        </ul>
        <div class="language_selection">
            <button (click)="switchLanguage('de')">
                <app-img-ellipse4 class="language_ellipse" [color]="'#262E34'" [width]="37" [height]="24"/>
                <span>DE</span>
            </button>
            <button (click)="switchLanguage('en')">
                <app-img-ellipse4 class="language_ellipse" [color]="'#262E34'" [width]="37" [height]="24"/>
                <span>EN</span>
            </button>
        </div>        
    </div>

</nav>