<header class="header_resp">
    <div class="headline_resp">
        <app-logo [lan]="language" [color]="colorPalette.primaryColor"></app-logo>
        <button class="burger" aria-label="Menu" style="padding: 8px" (click)="toggleMenu()">
            <app-img-burger-menu [isOpen]="!isMenuHiding" [size]="32"/>
        </button>        
    </div>
</header>
<div [ngClass]="isMenuHiding ? 'menu_hide' : ''" class="menu_resp_wrapper">
    <div class="menu_resp_center">
        <ul class="menu_content">
            <li>
                <a routerLink="" fragment="why-me-section-id" (click)="toggleMenu()">
                    {{language === 'en' ? translationMenu['sections']['why-me'].en : translationMenu['sections']['why-me'].de}}                 
                </a>
    
            </li>
            <li>
                <a routerLink="" fragment="my-skills-section-id" (click)="toggleMenu()">
                    {{language === 'en' ? translationMenu['sections']['skills'].en : translationMenu['sections']['skills'].de}}
                </a>
    
            </li>
            <li>
                <a routerLink="" fragment="my-projects-section-id" (click)="toggleMenu()">
                    {{language === 'en' ? translationMenu['sections']['projects'].en : translationMenu['sections']['projects'].de}}
                </a>
            </li>
            <li>
                <a routerLink="" fragment="contact-me-section-id" (click)="toggleMenu()">
                    {{language === 'en' ? translationMenu['sections']['contact'].en : translationMenu['sections']['contact'].de}}
                </a>
            </li>
            <li>
                <app-language-selection></app-language-selection>
            </li>
        </ul>
        <app-img-ellipse8 class="background_img" [height]="ellipse2Height" [width]="ellipse2Width" [color]="colorPalette.primaryColor"></app-img-ellipse8>            
    </div>
</div>