
<div class="content">
    <menu class="tabs content_limit">
        @for (project of projects; let idx = $index; track project.title){
            <button [ngClass]="getTabClass(idx)" (click)="changeTab(idx)">
                @if (isSmallScreen) {
                    {{language === 'en' ? getTabTitle(idx, "Project") : getTabTitle(idx, "Projekt") }}
                }
                @else{
                    {{language === 'en' ? getTabTitle(idx, project.title.en): getTabTitle(idx, project.title.de)}}
                }
            </button>
        }
    </menu>
    <div class="tab_content">
        <div class="content_wrapper content_limit">
            <ul class="content_left">
                @for (descriptionPoint of projects[activeTabIdx].description; let idx = $index; track descriptionPoint){
                    <li class="description_container">
                        <app-img-bullet-point [width]="29" [height]="26" [color]="colorPalette.primaryColor"/>
                        <div class="description">
                            <div class="first_line">
                                <h4>{{language === 'en' ? descriptionPoint.title.en : descriptionPoint.title.de}}</h4>
                                @if (idx === 0){
                                    <span>{{language === 'en' ? getProjectDuration(projects[activeTabIdx].duration.en) : getProjectDuration(projects[activeTabIdx].duration.de)}}</span>
                                }
                            </div>
                            
                            <p>{{language === 'en' ? descriptionPoint.text.en : descriptionPoint.text.de}}</p>
                        </div>
                    </li>
                }
            </ul>
            <div class="content_right">
                <div class="technologies_wrapper">
                    <h4>{{language === "en" ? translation['technologies'].en :translation['technologies'].de }}</h4>
                    <div class="technologies_box">
                        @for (tec of projects[activeTabIdx].technologies; track tec){
                            @switch (tec) {
                                @case ("angular"){
                                    <app-icon-angular [size]="36" [color]="colorPalette.primaryColor"/>
                                }
                                @case ("css"){
                                    <app-icon-css [size]="36" [color]="colorPalette.primaryColor"/>
                                }                                
                                @case ("firebase"){
                                    <app-icon-firebase [size]="36" [color]="colorPalette.primaryColor"/>
                                }                                
                                @case ("git"){
                                    <app-icon-git [size]="36" [color]="colorPalette.primaryColor"/>
                                }                               
                                 @case ("html"){
                                    <app-icon-html [size]="36" [color]="colorPalette.primaryColor"/>
                                }                               
                                 @case ("javascript"){
                                    <app-icon-javascript [size]="36" [color]="colorPalette.primaryColor"/>
                                }                                
                                @case ("material-design"){
                                    <app-icon-material-design [size]="36" [color]="colorPalette.primaryColor"/>
                                }                                
                                @case ("react"){
                                    <app-icon-react [size]="36" [color]="colorPalette.primaryColor"/>
                                }                                
                                @case ("scrum"){
                                    <app-icon-scrum [size]="36" [color]="colorPalette.primaryColor"/>
                                }
                                @case ("typescript"){
                                    <app-icon-typescript [size]="36" [color]="colorPalette.primaryColor"/>
                                }
                                @case ("vue"){
                                    <app-icon-vue [size]="36" [color]="colorPalette.primaryColor"/>
                                }
                            }
                        }
                    </div>
                </div>
                @if (projects[activeTabIdx].picture.length === 0){
                    <div class="img_placeholder">
                        <span>{{language === 'en' ? translation['img-placeholder'].en : translation['img-placeholder'].de}}</span>
                    </div>
                } 
                @else {
                    <img class="project_pic" src={{projects[activeTabIdx].picture}} alt="">
                }
                
                <div class="button_wrapper">
                    <a class="button primary">{{language === "en" ? translation['project-link'].en : translation['project-link'].de }}</a>
                    <a class="button secondary">GitHub</a>
                </div>
            </div>            
        </div>
        <div class="resp_content_wrapper">
            <h3>{{language === 'en' ? projects[activeTabIdx].title.en : projects[activeTabIdx].title.de}}</h3>
            <div class="resp_project_info">
                <span>
                    {{getTechnologiesTitles()}}
                </span>
                <span>
                    {{language === 'en' ? getProjectDuration(projects[activeTabIdx].duration.en) : getProjectDuration(projects[activeTabIdx].duration.de)}}
                </span>
            </div>
            <div class="resp_img_wrapper">
                @if (projects[activeTabIdx].picture.length === 0){
                    <div class="img_placeholder">
                        <span>{{language === 'en' ? translation['img-placeholder'].en : translation['img-placeholder'].de}}</span>
                    </div>
                } 
                @else {
                    <img class="project_pic" src={{projects[activeTabIdx].picture}} alt="">
                }
            </div>
            <ul class="resp_description_container">
                @for (descriptionPoint of projects[activeTabIdx].description; let idx = $index; track descriptionPoint){
                    <li class="resp_description">
                        <div class="resp_first_line">
                            <app-img-bullet-point [width]="29" [height]="26" [color]="colorPalette.primaryColor"/>                            
                            <h4>{{language === 'en' ? descriptionPoint.title.en : descriptionPoint.title.de}}</h4>
                        </div>
                        
                        <p>{{language === 'en' ? descriptionPoint.text.en : descriptionPoint.text.de}}</p>
                    </li>
                }
            </ul>   
            <div class="button_wrapper">
                <a class="button primary">{{language === "en" ? translation['project-link'].en :translation['project-link'].de }}</a>
                <a class="button secondary">GitHub</a>
            </div>
        </div>
    </div>
</div>