
<div class="content">
    <menu class="tabs content_limit">
        @for (project of projects; let idx = $index; track project){
            <button [ngClass]="getTabClass(idx)">
                @if (isSmallScreen) {
                    {{getTabTitle(idx, "Project")}}
                }
                @else{
                    {{getTabTitle(idx, project.title)}}
                }
            </button>
        }
    </menu>
    <div class="tab_content">
        <div class="content_wrapper content_limit">
            <ul class="content_left">
                @for (descriptionPoint of projects[activeTabIdx].description; let idx = $index; track descriptionPoint){
                    <li class="description_container">
                        <app-img-bullet-point [width]="29" [height]="26" [color]="colorPalette.primaryColor"/>
                        <div class="description">
                            <div class="first_line">
                                <h4>{{descriptionPoint.title}}</h4>
                                @if (idx === 0){
                                    <span>{{getProjectDuration(projects[activeTabIdx].duration)}}</span>
                                }
                            </div>
                            
                            <p>{{descriptionPoint.text}}</p>
                        </div>
                    </li>
                }
            </ul>
            <div class="content_right">
                <div class="technologies_wrapper">
                    <h4>Technologies</h4>
                    <div class="technologies_box">
                        <app-icon-angular [size]="36" [color]="colorPalette.primaryColor"/>
                        <app-icon-typescript [size]="36" [color]="colorPalette.primaryColor"/>
                        <app-icon-html [size]="36" [color]="colorPalette.primaryColor"/>
                    </div>
                </div>
                <img src="../../assets/img/project-placeholder.png" alt="">
                <div class="button_wrapper">
                    <button class="primary">Live Test</button>
                    <button class="secondary">GitHub</button>
                </div>
            </div>            
        </div>
        <div class="resp_content_wrapper">
            <h3>{{projects[activeTabIdx].title}}</h3>
            <div class="resp_project_info">
                <span>
                    Technologies: xxx
                </span>
                <span>
                    {{getProjectDuration(projects[activeTabIdx].duration)}}
                </span>
            </div>
            <div class="resp_img_wrapper">
                <img src="../../assets/img/project-placeholder.png" alt="">
            </div>
            <ul class="resp_description_container">
                @for (descriptionPoint of projects[activeTabIdx].description; let idx = $index; track descriptionPoint){
                    <li class="resp_description">
                        <div class="resp_first_line">
                            <app-img-bullet-point [width]="29" [height]="26" [color]="colorPalette.primaryColor"/>                            
                            <h4>{{descriptionPoint.title}}</h4>
                        </div>
                        
                        <p>{{descriptionPoint.text}}</p>
                    </li>
                }
            </ul>   
            <div class="button_wrapper">
                <button class="primary">Live Test</button>
                <button class="secondary">GitHub</button>
            </div>
        </div>
    </div>
</div>