@import '../shared/scss/fonts.scss';
@import '../shared/scss/button.scss';
@import '../../styles.scss';

.content_limit{
    max-width: $content-limit;
}

.content {
    @include flex-box($fd: column);
    width: 100%;
}

.tabs{
    @include flex-box($g: 24px, $jc: start);
    width: 100%;

    button {
        @include font($size: 30px, $color: $primary-color);
        border: none;
        background-color: transparent;
        border-radius: 30px 30px 0 0;
        padding: 26px;

        transition: color 0.35s ease-in-out;

        &:hover{
            color: $secondary-color;
        }
    }

    .active {
        background-color: $primary-color-opacity;
        color: $secondary-color;
        &:hover{
            cursor: default !important;
        }
    }
}

.tab_content{
    @include flex-box($ai: start, $g: 24px);
    padding: 32px;

    background-color: $primary-color-opacity;
    color: $secondary-color;

    width: 100%;
    min-height: 548px;


    @include font($family: 'Josefin_Sans_Regular', $size: 18px, $color: $secondary-color);

    .content_wrapper {
        @include flex-box($g: 32px);

        .content_left{
            padding: 0;
            flex: 1;
        }

        .content_right{
            @include flex-box($fd: column, $g: 24px);

            .technologies_wrapper{
                @include flex-box($fd: column, $g: 24px);

                .technologies_box{
                    @include flex-box($g: 24px);
                    svg{
                        height: 36px;
                        width: 36px;
                    }
                }
            }

            .project_pic{
                height: 312px;
                width: 453px;
                object-fit: cover;
                border-radius: 30px;
            }

            .img_placeholder{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 312px;
                width: 453px;
                background-color: white;
                color: $primary-color;
                font-size: 30px;
                border-radius: 30px;
            }
        }
    }
}

.button_wrapper{
    @include flex-box($g: 24px);
}


.description_container {
    @include flex-box($ai: start, $g: 24px);
    margin: 32px 0;

    .description{
        @include flex-box($fd: column, $ai: start, $g: 16px);
        margin-top: 4px;

        .first_line {
            @include flex-box($ai: center, $g: 32px);
            h4{
                font-size: 28px;
            }
        }
    }
}


.resp_content_wrapper {
    display: none;
}

@media (max-width: 1000px){

    .tabs{
        button {
            color: $secondary-color;
            font-family: 'Josefin_Sans_Regular';

            &:hover{
                color: $primary-color;
            }
        }

        .active {
            color: $primary-color;
        }
    }

    .content_wrapper{
        display: none !important;
    }
    
    .resp_content_wrapper {
        display: flex !important;
        flex-direction: column;
        gap: 16px;

        @include font($family: 'Josefin_Sans_Regular', $size: 18px, $color: $secondary-color);

        h3{
            font-size: 30px;
            color: $primary-color;
        }

        .resp_project_info {
            @include flex-box($fd: column, $ai:start, $g: 8px);
        }

        .resp_img_wrapper{
            @include flex-box();
            width: 100%;   

            .project_pic{
                height: 167px;
                width: 269px;
                object-fit: cover;
                border-radius: 30px;
            }
            .img_placeholder{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 167px;
                width: 269px;
                background-color: white;
                color: $primary-color;
                font-size: 30px;
                border-radius: 30px;
            }
        }
    }

    .resp_description_container{
        @include flex-box($fd: column, $ai: start, $g: 24px);
        padding: 0;
        margin: 16px 0;

        .resp_description {
            @include flex-box($fd: column, $ai: start, $g: 18px);

            .resp_first_line{
                @include flex-box($ai: start, $g: 8px);

                h4{
                    font-size: 28px;
                    color: $primary-color;
                    margin-top: 4px;
                }            
            }
        }        
    }
}


@media (max-width: 850px){

    .tabs{
        gap: 16px;
        padding-left: 16px;

        button {
            padding: 18px;
            border-radius: 20px 20px 0 0;
            font-size: 24px;
        }
    }

    .resp_content_wrapper {
        .resp_img_wrapper{
            img{
                width: 380px;
            }            
        }
    }
}

@media (max-width: 480px){

    .tabs{
        justify-content: center;
        gap: 0px;
        padding-left: 0px;

        button {
            padding: 12px;
            font-size: 18px;
        }
    }

    .tab_content{
        border-radius: 20px;
    }

    .resp_content_wrapper {
        h3{
            font-size: 24px;
        }

        .resp_project_info {
            font-size: 14px;
        }

        .resp_img_wrapper{
            img{
                width: 270px;
            }            
        }
    }

    .resp_description_container{
        .resp_description {
            .resp_first_line{
                align-items: center;

                h4{
                    font-size: 18px;
                } 
            }     

            p{
                font-size: 16px;
            }
            
        }        
    }
}