@import '../shared/scss/fonts.scss';
@import '../shared/scss/button.scss';
@import '../../styles.scss';

.content_limit{
    max-width: 1200px;
}

.content {
    @include flex-box($fd: column);

    .tabs{
        @include flex-box($g: 24px, $jc: start);
        width: 100%;
        button {
            border: none;
            background-color: transparent;
            color: $primary-color;
            border-radius: 30px 30px 0 0;
            font-size: 30px;
            font-family: 'Josefin_Sans_Medium';
            line-height: 120%;
        }

        .active {
            background-color: $secondary-dark-color;
            color: $secondary-color;
        }
    }

    .tab_content{
        @include flex-box($ai: start, $g: 24px);
        padding: 32px;
        width: 100vw;
        max-width: 100%;
        background-color: $secondary-dark-color;
        color: $secondary-color;

        .content_wrapper {
            @include flex-box($g: 32px);

            .content_left{
                padding: 0;
                flex: 1;
            }

            .content_right{
                @include flex-box($fd: column, $g: 24px);

                .technologies_wrapper{
                    @include flex-box($fd: column, $g: 24px);

                    .technologies_box{
                        @include flex-box($g: 24px);
                        svg{
                            height: 36px;
                            width: 36px;
                        }
                    }
                }

                .button_wrapper{
                    @include flex-box($g: 24px);
                }
            }
        }


    }
}

.description_container {
    @include flex-box($ai: start, $g: 24px);
    margin: 32px 0;
    .bullet_point{
        width: 29px;
        min-width: 29px;
        height: 26px;
    }

    .description{
        @include flex-box($fd: column, $ai: start, $g: 8px);


        .first_line {
            @include flex-box($ai: center, $g: 32px);
            h4{
                font-family: 'Josefin_Sans_Regular';
                font-size: 28px;
                font-weight: 400;
                line-height: 120%;
            }            
            span {
                line-height: 120%;
            }
        }

        p{
            font-family: 'Josefin_Sans_Regular';
            font-size: 18px;
            line-height: 120%;
        }
    }
}

