@import '../../../styles.scss';

button{
    border: solid 1px $primary-color;
    border-radius: 30px;
    padding: 14px 26px;
    font-family: 'Josefin_Sans_Regular';
    font-size: 18px;
    cursor: pointer; 
}

button * {
    cursor: pointer;
}

.primary {
    color: $primary-dark-color;
    background-color: $primary-color;
    border: none;
    &:hover {
        background-color: $secondary-color;
    }
}

.secondary {
    color: $primary-color;
    background-color: transparent;

    &:hover {
        background-color: $secondary-color-opacity;
    }

    &:disabled{
        border-color: $secondary-color;
        color: $secondary-color;
        background-color: transparent;
        cursor: default;
        opacity: 60%;
    }
}