@import '../../../styles.scss';

button{
    border: solid 1px $primary-color;
    border-radius: 30px;
    padding: 14px 26px;
    font-family: 'Josefin_Sans_Regular';
    font-size: 18px;
    cursor: pointer; 
}

button * {
    cursor: pointer;
}

.button_transposed{
    padding: 26px 14px !important;
}

.primary {
    color: $primary-dark-color;
    background-color: $primary-color;
    &:hover {
        background-color: $secondary-color;
    }
}

.secondary {
    color: $primary-color;
    background-color: transparent;

    &:hover {
        background-color: #F8F5EC1F;
    }
}