@font-face {
    font-family: 'Anata';
    src: url('../../../assets/fonts/Anta/Anta-Regular.ttf');
}

@font-face {
    font-family: 'Josefin_Sans_Regular';
    src: url('../../../assets/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: 'Josefin_Sans_Medium';
    src: url('../../../assets/fonts/Josefin_Sans/static/JosefinSans-Medium.ttf');
}