<div class="language_selection">
    <button (click)="switchLanguage('de')">
        <app-img-ellipse4 class="language_ellipse" [color]="'#262E34'" [width]="37" [height]="24"/>
        <span [ngClass]="language === 'de' ? 'active' : 'deactive'">DE</span>
    </button>
    <button (click)="switchLanguage('en')">
        <app-img-ellipse4 class="language_ellipse" [color]="'#262E34'" [width]="37" [height]="24"/>
        <span [ngClass]="language === 'en' ? 'active' : 'deactive'">EN</span>
    </button>
</div>  