:host{
    * {
       cursor: inherit; 
    }
}

.hover_pointer * {
    cursor: pointer;
}

div{
    display: flex;
}

.burger {
  cursor: pointer;
}

.line {
  stroke: #F8F5EC;
  stroke-width: 2;
  stroke-linecap: round;
  transition: all 0.75s ease;
  transform-origin: center;
  transform-box: fill-box;

}

.burger.active .top {
  transform: translateY(14px) rotate(45deg);
}

.burger.active .middle {
  opacity: 0;
}

.burger.active .bottom {
  transform: translateY(-14px) rotate(-45deg);
}