@import '../scss/fonts.scss';
@import '../../../styles.scss';

.logo_wrapper {
    @include flex-box($fd: column);

    .name{
        font-family: 'Anata';
        font-size: 16px;
        color: $secondary-color;
    }

    .profession_primary{
        font-family: 'Josefin_Sans_Light';
        font-size: 16px;
        color: $primary-color;
    }

    .profession_background{
        font-family: 'Josefin_Sans_Light';
        font-size: 16px;
        color: $background;
    }

    .infinity_sign{
        transform-origin: center; //Skaliert vom Mittelpunkt aus
        transition: transform 0.25s ease-in-out;
    }

    svg:hover .infinity_sign{
        transform: scaleX(1.15);
    }
}