@import '../shared/scss/fonts.scss';
@import '../shared/scss/button.scss';
@import '../../styles.scss';

.content_limit{
    max-width: 900px;
}

.content{
    @include flex-box($g: 44px, $ai: start);
    padding: 0 16px;

    .content_left{
        @include flex-box($g: 8px);

        div{
            font-size: 30px;
            max-width: fit-content;
            .heighlight{
                color: $primary-color;
            }
        }
    }

    .content_right{
        flex:1;
        @include flex-box($fd: column, $ai: end, $g: 16px);
        p{
            @include flex-box($fd: column, $ai:start);
            font-size: 18px;

            span{
                line-height: 120%;
            }
        }
    }
}

@media (max-width: 850px){

    .content{
        flex-direction: column;
        align-items: center;

        .content_left{
            p{
                font-size: 24px;
            }
        }

        .content_right{
            align-items: center;

            p{
                align-items: center;
                gap: 16px;
                
                span{
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 480px){
    .resp_hide{
        display: none;
    }

    .content_left{
        svg{
            max-width: 50px;
        }
        p{
            font-size: 18px;
            text-align: center;
        }
    }

    .content_right{
        p{
            font-size: 16px;    
        }
          
    }
    
}

