<div class="content">
    <div class="content_top">
        <p class="content_left">
            {{language === "en" ? translation['contact-text'].en :translation['contact-text'].de }}
        </p>
        <div class="content_right">
            <a href="#" (mouseover)="hoverEmail = true" (mouseleave)="hoverEmail = false">
                <app-icon-email1 [hoverInput]="hoverEmail" [size]="22"></app-icon-email1>
                <span>{{language === "en" ? translation['e-mail-label'].en :translation['e-mail-label'].de }}: an-san&#64;gmx.de</span>
            </a>
            <a href="#" (mouseover)="hoverPhone = true" (mouseleave)="hoverPhone = false">
                <app-icon-phone [hoverInput]="hoverPhone" class="cursor_hover" [size]="22"></app-icon-phone>
                <span>{{language === "en" ? translation['tel-label'].en :translation['tel-label'].de }}: 0177 9104981</span>
            </a>
        </div>        
    </div>
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <h4 class="resp_title">{{language === "en" ? translation['contact-resp-title'].en : translation['contact-resp-title'].de }}</h4>
        <div class="first_inputs">
            <div class="input_wrapper">
                @if (name.invalid && name.touched) {
                    @if (name.errors?.['required']){
                        <label for="name" class="error_color">{{language === "en" ? "Your name is required" : "Der Name ist erforderlich" }}</label>
                    }
                    @else {
                        <label for="name" class="error_color">{{language === "en" ? "Your name is invalid" : "Der Name ist ungültig" }}</label>
                    }
                }
                @else{
                    <label for="name">{{language === "en" ? translation['input-name-label'].en : translation['input-name-label'].de }}</label>
                }
                <input 
                    id="name" 
                    type="text"
                    name="name"
                    [(ngModel)]="contactData.name"
                    required
                    minlength="3"
                    #name="ngModel"
                    [placeholder]="isSmallScreen ? (language === 'en' ? translation['input-name-label'].en : translation['input-name-label'].de ) : ''">                
            </div>
            <div class="input_wrapper">
                @if (email.invalid && email.touched) {
                    @if (email.errors?.['required']){
                        <label for="email" class="error_color">{{language === "en" ? "Your e-mail is required" : "Die E-Mail ist erforderlich" }}</label>
                    }
                    @else {
                        <label for="email" class="error_color">{{language === "en" ? "Your e-mail is invalid" : "Die E-Mail ist ungültig" }}</label>
                    }

                }
                @else{
                    <label for="email">{{language === "en" ? translation['input-mail-label'].en :translation['input-mail-label'].de }}</label>
                }
                <input 
                    id="email" 
                    type="email" 
                    name="email" 
                    [(ngModel)]="contactData.email"
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                    required
                    #email="ngModel"
                    [placeholder]="isSmallScreen ? (language === 'en' ? translation['input-mail-label'].en : translation['input-mail-label'].de ) : ''">             
            </div>

        </div>
        <div class="input_wrapper">
            @if (message.invalid && message.touched) {
                @if (message.errors?.['required']){
                    <label for="message" class="error_color">{{language === "en" ? "Your message is required" : "Die Nachricht ist erforderlich" }}</label>
                }
                @else {
                    <label for="message" class="error_color">{{language === "en" ? "Your message is invalid" : "Die Nachricht ist ungültig" }}</label>
                }
            }
            @else{
                <label for="message">{{language === "en" ? translation['input-message-label'].en :translation['input-message-label'].de }}</label>
            }
            <textarea 
                id="message"
                name="message" 
                [(ngModel)]="contactData.message"
                required
                minlength="10"
                #message="ngModel"
                [placeholder]="isSmallScreen ? (language === 'en' ? translation['input-message-label'].en :translation['input-message-label'].de) : ''"></textarea>            
        </div>

        <div class="checkbox_wrapper">
            <app-img-checkbox [size]="24" (click)="checkboxEventHandler('click')" (mouseover)="checkboxEventHandler('over')" (mouseleave)="checkboxEventHandler('leave')" [state]="checkboxState" [color]="colorPalette.primaryColor"/>
            <span>{{language === "en" ? translation['privacy-text1'].en :translation['privacy-text1'].de }} <a routerLink="/privacy-policy">{{language === "en" ? translation['privacy-policy'].en :translation['privacy-policy'].de }}</a> {{language === "en" ? translation['privacy-text3'].en :translation['privacy-text3'].de }}</span>
        </div>
        <div class="send_btn_wrapper">
            <button 
                class="secondary"
                type="submit"
                [disabled]="contactForm.invalid || !checkboxChecked">
                
                {{language === "en" ? translation['send-btn'].en :translation['send-btn'].de }}
            </button>
        </div>
        
    </form>

</div>
