@import '../shared/scss/fonts.scss';
@import '../shared/scss/a.scss';
@import '../shared/scss/button.scss';
@import '../../styles.scss';


.content{
    @include flex-box($fd: column, $ai: start, $g: 32px);
    max-width: $section-limit;
    padding: 0 16px;
    position: relative;
}

.arrow_to_top{
    position: absolute;
    right: 0;
    top: -100px;

    transform: rotate(180deg);
    margin-right: 16px;
}

.resp_arrow_to_top_wrapper{
    display: none;
}

.content_top{
    @include flex-box($g: 44px, $ai: start);

    .content_left{
        flex: 1;
        @include flex-box();

        @include font($family: 'Josefin_Sans_Regular', $size: 18px, $color: $secondary-color);
        hyphens: auto; 
        text-align: justify;
    }

    .content_right{
        flex: 1;
        @include flex-box($fd: column, $ai: start, $g: 16px);
        
        a {
            text-decoration: none;
            @include flex-box($g: 12px);
            @include font($family: 'Josefin_Sans_Regular', $size: 20px, $color: $secondary-color);

            span {
                margin-top: 2px;
            }

            &:hover{
                color: $primary-color;
            }
        }    
        a * {
            cursor: pointer !important;
        }
    }
}   

form{
    @include flex-box($g: 24px, $fd: column);
    width: 100%;

    .resp_title{
        display: none;
    }

    .first_inputs{
        @include flex-box($g: 24px);
        width: 100%;

        input{
            width: 100%;
            border-radius: 30px;
            height: 60px;
            border: 1px solid $primary-color;
            background-color: transparent;
            cursor: text;
            color: $secondary-color;
            padding: 16px;
            @include font($family: 'Josefin_Sans_Regular', $size: 18px, $color: $secondary-color);

            &:focus{
                outline: $primary-color;
                border-color: $primary-color;
                background-color: #89BCD91F;
            }
        }

        input.ng-invalid.ng-touched {
            border: 1px solid $error;
        }
    }
        
    label {
        @include font($family: 'Josefin_Sans_Regular', $size: 14px, $color: $primary-color);
        padding-left: 30px;
    }
    
    .error_color{
        color: $error;
    }
        
    textarea{
        width: 100%;
        border-radius: 30px;
        height: 150px;
        border: 1px solid $primary-color;
        background-color: transparent;
        cursor: text;
        color: $secondary-color;
        padding: 16px;
        @include font($family: 'Josefin_Sans_Regular', $size: 18px, $color: $secondary-color);

        &:focus{
            outline: $primary-color;
            border-color: $primary-color;
            background-color: #89BCD91F;
        }
    }    

    textarea.ng-invalid.ng-touched {
        border: 1px solid $error;
    }

    .input_wrapper{
        @include flex-box($fd: column, $ai: start);
        width: 100%;
    } 

    .privacy-policy-wrapper{
        width: 100%;
        padding-bottom: 20px;
        position: relative;
    }

    .checkbox_wrapper{
        @include flex-box($jc: start, $g: 8px);
        
        @include font($family: 'Josefin_Sans_Regular', $size: 14px, $color: $secondary-color);

        a{
            color: $primary-color;
            cursor: pointer;
            text-decoration: none;

            &:hover{
                color: $secondary-color;    
            }
        }
    }

    .checkbox_error{
        font-size: 14px;
        margin-left: 32px;
        position: absolute;
        bottom: 0;
    }

    .send_btn_wrapper{
        @include flex-box($jc: end);
        width: 100%;
    }

}


@media (max-width: 850px){
    .content_top{
        flex-direction: column-reverse;
        gap: 24px;
    }

    .arrow_to_top{
        display: none;
    }

    .resp_arrow_to_top_wrapper{
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 50px 0px;
    }

    .resp_arrow_to_top{
        right: 0;
        top: -100px;

        transform: rotate(180deg); 
    }
}

@media (max-width: 480px){

    .content_top{

        .content_left{
            text-align:left;
        }
    }  

    form{

        .resp_title{
            @include font($family: 'Josefin_Sans_Regular', $size: 20px, $color: $primary-color);
            display: inline;
        }

        .first_inputs{
            flex-direction: column;

            input{
                &::placeholder{
                    @include font($family: 'Josefin_Sans_Regular', $size: 16px, $color: $secondary-color);
                    opacity: 40%;
                }
            }
        }

        label{
            display: none;
        }

        textarea{
            &::placeholder{
                @include font($family: 'Josefin_Sans_Regular', $size: 16px, $color: $secondary-color);
                opacity: 40%;
            }
        }    

        .checkbox_wrapper{
            align-items: start;
        }
    }
}