<app-landingpage [language]="language"></app-landingpage>
<app-navigation-bar [language]="language" (newLanguage)="switchLanguage($event)"></app-navigation-bar>
<app-section [language]="language" id="why-me-section-id" [key]="'why-me'">
    <app-why-me></app-why-me>
</app-section>
<app-section [language]="language" id="my-skills-section-id" [key]="'skills'">
   <app-my-skills></app-my-skills>
</app-section>
<app-section [language]="language" id="my-projects-section-id" [key]="'projects'">
   <app-my-projects></app-my-projects>
</app-section>
<app-references></app-references>
<app-section [language]="language" id="contact-me-section-id" [key]="'contact'">
   <app-contact-me></app-contact-me>
</app-section>
<app-footer></app-footer>
<router-outlet></router-outlet>
