<footer>
    <div class="resp_logo_wrapper">
        <app-logo [color]="colorPalette.primaryDarkColor"></app-logo>
    </div>
    <div class="content">
        <div class="left_side">
            <a href="">{{language === 'en' ? translation['legal-notice'].en : translation['legal-notice'].de}}</a>
            <span>&copy; A. Sanewski 2026</span>
        </div>
        <div class="logo_wrapper">
            <app-logo [lan]="language" [color]="colorPalette.primaryDarkColor"></app-logo>
        </div>
        <div class="right_side">
            <ul>
                <li class="li_link">
                    <a href="https://github.com/Saki63" target="_blank">
                        <app-icon-github class="default_icon" [size]="30" [color]="colorPalette.primaryDarkColor" [hoverColor]="colorPalette.secondaryColor" [opacity]="0.6"/>
                        <app-icon-github-light class="resp_icon" [size]="30" [color]="colorPalette.primaryColor"/>
                    </a>
                </li>
                <li class="li_link">
                    <a href="mailto:an-san@gmx.de" target="_blank">
                        <app-icon-email class="default_icon" [size]="30" [color]="colorPalette.primaryDarkColor" [hoverColor]="colorPalette.secondaryColor" [opacity]="0.6"/>
                        <app-icon-email-light class="resp_icon" [size]="30" [color]="colorPalette.primaryColor"/>
                    </a>
                </li>
                <li>
                    <div class="placeholder_icon"></div>
                </li>
            </ul>              
        </div>
    </div>
</footer>