<footer>
    <div class="resp_logo_wrapper">
        <app-logo [color]="'#262E34'"></app-logo>
    </div>
    <div class="content">
        <div class="left_side">
            <a href="">Legal notice</a>
            <span>&copy; Anne Sanewski 2026</span>
        </div>
        <div class="logo_wrapper">
            <app-logo [color]="'#262E34'"></app-logo>
        </div>
        <div class="right_side">
            <ul>
                <li>
                    <app-icon-github class="default_icon" [size]="30" [color]="colorPalette.primaryDarkColor" [hoverColor]="colorPalette.secondaryColor" [opacity]="0.6"/>
                    <app-icon-github-light class="resp_icon" [size]="30" [color]="colorPalette.primaryColor"/>
                </li>
                <li>
                    <app-icon-email class="default_icon" [size]="30" [color]="colorPalette.primaryDarkColor" [hoverColor]="colorPalette.secondaryColor" [opacity]="0.6"/>
                    <app-icon-email-light class="resp_icon" [size]="30" [color]="colorPalette.primaryColor"/>
                </li>
                <li>
                    <app-icon-linkedin class="default_icon" [size]="30" [color]="colorPalette.primaryDarkColor" [hoverColor]="colorPalette.secondaryColor" [opacity]="0.6"/>
                    <app-icon-linkedin-light class="resp_icon" [size]="30" [color]="colorPalette.primaryColor"/>
                </li>
            </ul>              
        </div>
      
    </div>
</footer>