<footer>
    <div class="content content_limit">
        <div class="left_side">
            <a href="">Legal notice</a>
            <span>Claudia Fohrer 2026</span>
        </div>
        <app-logo [color]="'#262E34'"></app-logo>
        <ul>
            <li><app-icon-github [size]="30" [color]="'#262E34'"></app-icon-github></li>
            <li><app-icon-email [size]="30" [color]="'#262E34'"></app-icon-email></li>
            <li><app-icon-linkedin [size]="30" [color]="'#262E34'"></app-icon-linkedin></li>
        </ul>        
    </div>
</footer>