@import '../shared/scss/fonts.scss';
@import '../shared/scss/a.scss';
@import '../../styles.scss';

:host{
    position: relative;
}

section{
    width: 100vw;
    max-width: 100%;
    background-color: $primary-dark-color;
    @include flex-box($ai: 'start');
    padding: 64px 16px;
}

.limit{
    max-width: $section-limit;    
}

h3{ //origin
    @include font($family: 'Anta', $size: 54px, $color: $primary-color);
    margin-bottom: 64px;
    font-weight: 400;
}

h4{
    @include font($family: 'Josefin_Sans_Bold', $size: 32px, $color: $primary-color);
    margin-bottom: 32px;
}

h5{ //origin
    @include font($family: 'Josefin_Sans_Bold', $size: 24px, $color: $primary-color);
}

h6{ //origin
    @include font($family: 'Josefin_Sans_Bold', $size: 19px, $color: $primary-color);
}

.li_text, //origin
p{
    @include font($family: 'Josefin_Sans_Regular', $size: 16px, $color: $secondary-color);
}

.a-text{
    text-decoration: none;
    cursor: pointer;
    color: $primary-color;
}

.paragraph{
    margin-bottom: 32px;

}

.header_resp{
    display: none;
}

.menu_resp_wrapper{
    display: none;
}

@media (max-width: 850px){
    section{
        padding: 80px 16px;
        padding-top: 160px;
    }

    h3{ //origin
        @include font($family: 'Anta', $size: 32px, $color: $primary-color);
        margin-bottom: 32px;
        overflow-wrap: break-word;
        hyphens: manual;
    }

    h4{
        @include font($family: 'Josefin_Sans_Bold', $size: 27px, $color: $primary-color);
        margin-bottom: 18px;
    }

    h5{ //origin
        @include font($family: 'Josefin_Sans_Bold', $size: 23px, $color: $primary-color);
    }

    h6{ //origin
        @include font($family: 'Josefin_Sans_Bold', $size: 19px, $color: $primary-color);
    }

    .li_text, //origin
    p{
        @include font($family: 'Josefin_Sans_Regular', $size: 16px, $color: $secondary-color);
    }

    .paragraph{
        margin-bottom: 32px;
    }


    .header_resp{
        @include flex-box($fd: column, $g: 16px, $ai: start);
        padding: 24px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        max-width: 100%;
        z-index: 1000;

        .headline_resp{
            @include flex-box($jc: space-between);
            width: 100%;
        }

        a *{
            cursor: pointer;
        }

        .back_to_link{
            transform: rotate(90deg);
        }
    }

    .menu_resp_wrapper{
        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        max-width: 100%;
        margin-top: 50px;

        @include flex-box();

        .menu_resp_center{
            position: relative;

            .menu_content{
                z-index: 1001;
                list-style-type: none;
                padding: 8px;
                position: relative;
                margin-top: 118px;   

                @include flex-box($fd: column, $g: 24px);

                a {
                    
                    text-decoration: none;
                    @include font($family: 'Josefin_Sans_Regular', $size: 22px, $color: $primary-dark-color);
                    cursor: pointer;

                    &:hover {
                        color: $secondary-color;
                    }

                    * {
                        cursor: pointer;
                    }
                }
            }

            .background_img{
                position: absolute;
                top: 0;
                left: calc(50% - 174px);
                margin-top: 60px;
            }            
        }
    }


    .menu_hide{
        display: none !important;
    }

    .burger {
        background: none;
        border: none;

        * {
            cursor: pointer;
        }
    }
}


@media (max-width: 560px){

    .menu_resp_wrapper{
        .menu_resp_center{
            .menu_content{
                margin-top: 98px;   
            }

            .background_img{
                left: calc(50% - 144px);
            }            
        }
    }
}