<app-navigation-bar></app-navigation-bar>
<app-responsive-header></app-responsive-header>
<section>
    <div class="limit">
        <h3>{{language === 'en' ? legalNoticeTranslation['title'].en : legalNoticeTranslation['title'].de}}</h3>
        <h4>{{language === 'en' ? legalNoticeTranslation['imprint']['title'].en : legalNoticeTranslation['imprint']['title'].de}}</h4>
        
        <h5>{{language === 'en' ? legalNoticeTranslation['imprint']['information'].en : legalNoticeTranslation['imprint']['information'].de}}</h5>

        <p>Anne Sanewski <br> Asternweg 3 <br> 83022 Rosenheim <br></p>
        <br>

        <h6>{{language === 'en' ? legalNoticeTranslation['imprint']['represent'].en : legalNoticeTranslation['imprint']['represent'].de}}</h6>
        <br>
        <p>Anne Sanewski</p>
        <br>

        <h6>{{language === 'en' ? legalNoticeTranslation['imprint']['contact'].en : legalNoticeTranslation['imprint']['contact'].de}}</h6>
        <br>
        <p>
            {{language === 'en' ? legalNoticeTranslation['imprint']['telephone'].en : legalNoticeTranslation['imprint']['telephone'].de}} 0177-9104981<br>
            {{language === 'en' ? legalNoticeTranslation['imprint']['email'].en : legalNoticeTranslation['imprint']['email'].de}} <a class="a-text" href='mailto:an-san@gmx.de'>an-san&#64;gmx.de</a><br>
        </p>
        <br>

        <h6>{{language === 'en' ? legalNoticeTranslation['imprint']['responsibility'].en : legalNoticeTranslation['imprint']['responsibility'].de}}</h6>
        <br>
        <p> 
            Anne Sanewski<br>
            Asternweg 3<br>
            83022 Rosenheim<br>
        </p>
        <br>

        <h6>{{language === 'en' ? legalNoticeTranslation['imprint']['disclaimer'].en : legalNoticeTranslation['imprint']['disclaimer'].de}} </h6>
        <br>
        <p>{{language === 'en' ? legalNoticeTranslation['imprint']['liability-content'].en : legalNoticeTranslation['imprint']['liability-content'].de}}</p>
        <p>    
            {{language === 'en' ? legalNoticeTranslation['imprint']['liability-content-text'].en : legalNoticeTranslation['imprint']['liability-content-text'].de}}
        </p>
        <br>
            
        <p>{{language === 'en' ? legalNoticeTranslation['imprint']['liability-links'].en : legalNoticeTranslation['imprint']['liability-links'].de}}</p>
        <p>
            {{language === 'en' ? legalNoticeTranslation['imprint']['liability-links-text'].en : legalNoticeTranslation['imprint']['liability-links-text'].de}}
        </p>
        <br>
        
        <p>{{language === 'en' ? legalNoticeTranslation['imprint']['copyright-title'].en : legalNoticeTranslation['imprint']['copyright-title'].de}}</p>
        <p>
            {{language === 'en' ? legalNoticeTranslation['imprint']['copyright-text'].en : legalNoticeTranslation['imprint']['copyright-text'].de}}
        </p>
        <br>

        <p>
            {{language === 'en' ? legalNoticeTranslation['imprint']['imprint-from'].en : legalNoticeTranslation['imprint']['imprint-from'].de}} <a class="a-text" href="https://impressum-generator.de" rel="dofollow">Impressum-Generator.de</a>. Powered by
            <a class="a-text" href="https://www.kanzlei-hasselbach.de/" rel="nofollow">Franziska Hasselbach, Bonn</a>.             
        </p>        
        <br>
       
        
        <p>{{language === 'en' ? legalNoticeTranslation['imprint']['privacy-policy'].en : legalNoticeTranslation['imprint']['privacy-policy'].de}}</p>
        <p>
            {{language === 'en' ? legalNoticeTranslation['imprint']['privacy-policy-link-text'].en : legalNoticeTranslation['imprint']['privacy-policy-link-text'].de}} <a class="a-text" routerLink="privacy-policy">{{language === 'en' ? legalNoticeTranslation['imprint']['privacy-policy-link'].en : legalNoticeTranslation['imprint']['privacy-policy-link'].de}}</a>.
        </p>    


    </div>
</section>

