@import '../shared/scss/fonts.scss';
@import '../../styles.scss';

section {
    width: 100vw;
    max-width: 100%;
    background-color: $primary-dark-color;
    @include flex-box($fd: column, $g: 56px);
    padding: 80px 16px;
    color: $secondary-color;
    font-family: 'Josefin_Sans_Regular';
}

@media (max-width: 850px){

    h2{
        font-size: 45px;
    }

}

@media (max-width: 480px){

    h2{
        font-size: 32px;
    }

}