<div class="content_limit content">
    <div class="content_left">

        <div class="skill_box">
            <app-icon-html [color]="colorPalette.primaryColor" [size]="iconSize"></app-icon-html>
            <span>HTML</span>    
        </div>
        <div class="skill_box">
            <app-icon-css [color]="colorPalette.primaryColor" [size]="iconSize"></app-icon-css>
            <span>CSS</span>    
        </div>
        <div class="skill_box">
            <app-icon-javascript [color]="colorPalette.primaryColor" [size]="iconSize"></app-icon-javascript>
            <span>JavaScript</span>    
        </div>
        <div class="skill_box">
            <app-icon-firebase [color]="colorPalette.primaryColor" [size]="iconSize"></app-icon-firebase>
            <span>Firebase</span>    
        </div>
        <div class="skill_box">
            <app-icon-material-design [color]="colorPalette.primaryColor" [size]="iconSize"></app-icon-material-design>
            <span>Material Design</span>    
        </div>
        <div class="skill_box">
            <app-icon-scrum [color]="colorPalette.primaryColor" [size]="iconSize"></app-icon-scrum>
            <span>Scrum</span>    
        </div>
        <div class="skill_box">
            <app-icon-git [color]="colorPalette.primaryColor" [size]="iconSize"></app-icon-git>
            <span>Git</span>    
        </div>
        <div class="skill_box">
            <app-icon-rest-api [color]="colorPalette.primaryColor" [size]="iconSize"></app-icon-rest-api>
            <span>REST-API</span>    
        </div>
    </div>
    <div class="content_right">
        <app-img-ellipse6 class="default_background" [color]="colorPalette.primaryColor" [size]="360"/>
        <div class="current_learning">
            <h3 class="title">
                {{language === 'en' ? translation['skills-title'].en : translation['skills-title'].de}}
            </h3>
            <h3 class="resp_title">
                {{language === 'en' ? translation['skills-resp-title'].en : translation['skills-resp-title'].de}}
            </h3>
            <div class="current_learning_content">
                <div class="resp_wrapper">
                    <app-img-ellipse5 [color]="colorPalette.primaryColor" [width]="114" [height]="97" class="resp_background"/>
                    <div class="current_skills">
                        <div class="skill_box skill_box_right">
                            <app-icon-angular [color]="colorPalette.primaryColor" [size]="32"></app-icon-angular>
                            <span>Angular</span>
                        </div>
                        <div class="skill_box skill_box_right">
                            <app-icon-typescript [color]="colorPalette.primaryColor" [size]="32"></app-icon-typescript>
                            <span>TypeScript</span>    
                        </div>


                    </div>                    
                </div>
                <p>
                    {{language === 'en' ? translation['learning'].en : translation['learning'].de}}
                </p>
            </div>
        </div>
    </div>
    <a href="#contact-me-section-id">
        <button class="primary resp_hide">{{language === 'en' ? translation['talk-btn'].en : translation['talk-btn'].de}}</button>
    </a>
</div>
