* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: default;
}


@mixin flex-box($fd: row, $ai: center, $jc: center, $g: 0px){
    display: flex;
    flex-direction: $fd;
    align-items: $ai;
    justify-content: $jc;
    gap: $g;
}

@mixin font($family: 'Josefin_Sans_Medium', $size: 26px, $color: $primary-dark-color){
    font-family: $family;
    font-size: $size;
    color: $color;
    line-height: 120%;
}

//option 1
// $primary-dark-color: #262E34;
// $primary-color: #89BCD9;
//option 2
$primary-dark-color: #042639;
$primary-color: #F28A62;
//option 3
// $primary-dark-color: #0A383F;
// $primary-color: #F9CB71;


$secondary-color: #F8F5EC; //#F28A62 #F9CB71
$inactive: #262E341F;
$error: #E44C36;
$done: #97E163;
$secondary-dark-color: #2D383F;

$content-limit: 1200px;
$section-limit: 860px;

h2 {
    font-family: 'Anta';
    font-size: 60px;
    font-weight: 400;
    color: $primary-color;
}