<div (mouseover)="hover=true" (mouseleave)="hover=false">
    @if (hover){
        <svg viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="15" r="14.5" fill="currentColor" stroke="currentColor"/>
            <rect x="5" y="8" width="20" height="14" rx="1" fill="#262E34"/>
            <path d="M6 9L15 15L24 9" stroke="currentColor" stroke-width="2px" stroke-linecap="round"/>
        </svg>  
    }
    @else {
        <svg viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15" cy="15" r="14.5" stroke="currentColor" stroke-width="1.5px"/>
            <!-- <mask id="path-2-inside-1_1795_4201" fill="white">
                <rect x="5" y="8" width="20" height="14" rx="1"/>
            </mask> -->
            <rect vector-effect="non-scaling-stroke" x="5" y="8" width="20" height="14" stroke="currentColor" stroke-width="2px" mask="url(#path-2-inside-1_1795_4201)"/>
            <path d="M6 9L15 15L24 9" stroke="currentColor" stroke-width="2px" stroke-linecap="round"/>
        </svg>
    }    
</div>


